html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Home */

.container-index {
  margin:30px;
}

table td, th {
  padding: 10px;
  text-align: left;
  font-weight: normal;
}

/* Others */

.container {
  display: grid;
  grid-template-columns: none;
  align-items: center;
}
.container > * {
  margin: 30px 30px 0 30px !important;
}
